<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/public/pictures/icons/bull.ico">
   <link rel="stylesheet" href="/public/css/style.css?">
   <title>The Last Dance</title>
</head>

<body>

   <div class="wrapper">
      <section class="gallery">
         <!-- ?------------------ 1 frame -->
         <div class="frame">
            <div class="frame__content">
               <h2>The Last Dance</h2>
            </div>
         </div>
         <!-- ?------------------ 2 frame -->
         <div class="frame">
            <div class="frame__content">
               <div class="frame-media frame-media_left"
                  style="background-image: url(/public/pictures/prod/last_6.jpg);"></div>
            </div>
         </div>
         <!-- ?------------------ 3 frame -->
         <div class="frame frame_bg">
            <div class="frame__content">
               <video autoplay muted loop class="frame-media frame-media_right" src="/public/media/trailer.mp4"></video>
            </div>
         </div>
         <!-- чтобы увеличить расстояние между фреймами, то просто добавим фрейм -->
         <div class="frame"></div>
         <!-- ?------------------ 4 frame -->
         <div class="frame">
            <div class="frame__content text-right">
               <h3>documentary series</h3>
               <p>The Last Dance is a 2020 American sports documentary miniseries co-produced by ESPN Films and Netflix.
                  Directed by Jason Hehir, the series revolves around the career of Michael Jordan, with particular
                  focus on his final season with the Chicago Bulls.</p>
            </div>
         </div>
         <!-- ?------------------ 5 frame -->
         <div class="frame frame_bg">
            <div class="frame-content">
               <div class="frame-media frame-media_left"
                  style="background-image: url(/public/pictures/prod/last_3.jpg);"></div>
            </div>
         </div>
         <div class="frame"></div>
         <!-- ?------------------ 6 frame -->
         <div class="frame frame_bg">
            <div class="frame-content">
               <div class="frame-media frame-right__horizontal"
                  style="background-image: url(/public/pictures/prod/last_5.jpg);">
               </div>
            </div>
         </div>
         <!-- ?------------------ 7 frame -->
         <div class="frame">
            <div class="frame__content text-left">
               <h3>basketball teammates</h3>
               <p>The series features exclusive footage from a film crew that had an all-access pass to the Bulls, as
                  well as interviews of many NBA personalities including Jordan, Scottie Pippen, Dennis Rodman, Steve
                  Kerr, and Phil Jackson.</p>
            </div>
         </div>
         <!-- ?------------------ 8 frame -->
         <div class="frame frame_bg">
            <div class="frame-content">
               <div class="frame-media frame-right__horizontal"
                  style="background-image: url(/public/pictures/prod/last_2.jpg);">
               </div>
            </div>
         </div>
         <!-- ?------------------ 9 frame -->
         <div class="frame">
            <div class="frame-content">
               <div class="frame-media frame-media_left"
                  style="background-image: url(/public/pictures/prod/last_4.jpg);"></div>
            </div>
         </div>
         <!-- ?------------------ 7 frame -->
         <div class="frame frame_bg">
            <div class="frame__content text-right">
               <h3>basketball teammates</h3>
               <p>The docu-series gives an account of Michael Jordan's career and the Chicago Bulls, using never-before
                  aired footage from the 1997–98 Bulls season, his final season with the team.</p>
            </div>
         </div>
         <div class="frame"></div>
         <!-- ?------------------ 8 frame -->
         <div class="frame">
            <div class="frame__content">
               <div class="frame-media frame-center" style="background-image: url(/public/pictures/prod/last_1.jpg);">
               </div>
            </div>
         </div>
         <div class="frame"></div>
         <div class="frame"></div>
         <div class="frame"></div>
         <!-- ?------------------ 9 frame -->
         <div class="frame">
            <div class="frame__content">
               © ITForYou
            </div>
         </div>

      </section>
   </div>

   <!-- !Атрибут defer откладывает выполнение скрипта до тех пор, пока вся страница не будет загружена полностью.  -->
   <script src="/public/js/index.js" defer></script>

</body>

</html>